@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700;900&display=swap");

:root {
  --Very-dark-blue-main: hsl(217, 54%, 11%);
  --Very-dark-blue-card: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--Very-dark-blue-main);
  padding: 25px;
  font-family: Outfit, sans-serif;
  color: white;
  height: 100%;
  width: 100%;
}

.container {
  background: var(--Very-dark-blue-card);
  width: auto;
  height: auto;
  padding: 28px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .main {
  height: 100%;
  width: 100%;
} */

.image-main {
  max-width: 100%;
  border-radius: 15px;
}

.top {
  margin-bottom: 18px;
}

.title {
  margin-bottom: 18px;
  font-size: 1.5em;
  letter-spacing: 1px;
}

.para {
  margin-bottom: 22px;
  font-size: 1.2em;
  line-height: 1.6em;
  color: var(--Soft-blue);
  opacity: 80%;
  padding-right: 10px;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.num {
  margin-left: 7px;
  text-align: center;
  font-size: 1.2em;
}

.left {
  display: flex;
  place-items: center;
  color: var(--Cyan);
  font-family: Outfit, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.right > .num {
  color: var(--Soft-blue);
}

.info {
  border-top: 1.8px solid var(--Very-dark-blue-line);
  padding-top: 20px;
}

.info-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info img {
  height: 2.5em;
  border-radius: 50%;
  border: 1.8px solid white;
}

.info-name {
  color: var(--White);
}

.info-para {
  margin-bottom: 0px;
  margin-left: 12px;
}

.info-para span {
  margin-left: 4px;
}
