@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700;900&display=swap");
@import url(./395px.css);
@import url(./540px.css);
@import url(./820px.css);
@import url(./devicewidth.css);

:root {
  --Very-dark-blue-main: hsl(217, 54%, 11%);
  --Very-dark-blue-card: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background: var(--Very-dark-blue-main);
  padding: 25px;
  font-family: Outfit, sans-serif;
  color: white;
  height: 100%;
  width: 100%;
} */

/* .section {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
} */
